name: HW CI

on:
  push:
    branches:
      - hw

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install compiler and gtest
      run: |
        sudo apt-get update
        sudo apt-get install -y g++ cmake libgtest-dev

    - name: Build Google Test
      run: |
        cd /usr/src/gtest
        sudo cmake .
        sudo make
        sudo cp lib/*.a /usr/lib

    - name: Build tests
      run: |
        g++ -std=c++17 task_simple_stack/simple_stack_test.cpp -lgtest -lgtest_main -pthread -o run_tests

    - name: Run tests
      run: ./run_tests
